*{ 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
	font-size: 16px;
	font-family: "DM Serif Display", serif;
	background: #D8EFD3;
	color:#fff;
}
div h2 {
    margin: 20px 0;
    text-align: center;
    color: #124076;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

header .navbar {
    font-family: "DM Serif Display", serif;
	background: #7bbedd;

}
.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}



.formulario .izquierda {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align:top;
}

.contenedor{
	max-width: 500px;
	width: 90%;
	margin: auto;
}
.contenedor .titulo {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: black;

}

.editar {
    padding: 15px;
	max-height: 48px;
	font-size: 18px;
}

.editar input[type="submit"] {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.editar input[type="text"] {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}
.form-group i.izquierda {
    font-size: 24px; /* Tamaño de la fuente */
    color: #124076; /* Color del icono */
    margin-right: 10px; /* Espaciado derecho */
    vertical-align: middle; /* Alineación vertical */
    border-radius: 5px;
}

.form-group input[type="text"],input[type="password"] {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    color: #124076;
}

.form-group button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
}

.container a.btn{
    background-color: #4CAF50; 
    color: white; 
    padding: 6px 12px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    float: right;
}

.container button.derech{
    background-color: #7bbedd;; 
    color: white; 
    padding: 6px 12px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    display: inline-block;
}
.container button.izq {
    background-color: #A94438; 
    color: white; 
    padding: 6px 12px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    display: inline-block;
}

.table th{
    text-align: center;
}

td,th {
    text-align: center;
    border: 2px solid #99d1b3;
    border-radius: 3px;
}